node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# secrets
.env

#backend
backend/node_modules/
backend/dist/
backend/.DS_Store
backend/.env