PORT=5000
GEMINI_API_KEY=COLOQUE_SUA_CHAVE_AQUI
PIPEFY_TOKEN=COLOQUE_SUA_CHAVE_AQUI
PIPEFY_PIPE_ID=ID_DO_PIPE_AQUI
CALENDLY_TOKEN=COLOQUE_SUA_CHAVE_AQUI
CALENDLY_USER_URI=https://api.calendly.com/users/ID_DO_CALENDLY_USER_AQUI